.idea
media

config/jellyfin/*

!config/jellyfin/data/plugins

config/jellyfin/data/data/ScheduledTasks

!config/jellyfin/.jellyfin-config
!config/jellyfin/*.xml

config/jackett/Jackett/log.txt*
config/jackett/Jackett/updater.txt*
config/jackett/Jackett/DataProtection

config/sonarr/*
config/radarr/*

!config/sonarr/config.xml
!config/sonarr/sonarr.db*
!config/radarr/config.xml
!config/radarr/radarr.db*

config/qbittorrent/qBittorrent/*
!config/qbittorrent/qBittorrent/*.conf
!config/qbittorrent/qBittorrent/*.json

